*{margin:0;padding:0;}

div {
    text-align: center;
    background: #fff;
    margin: 0 auto;
}

.header {
    background: linear-gradient(#fb3, #58a);
    opacity: 0.8;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    text-shadow: 0 0 .1em, 0 0 .3em;
}

label {
    margin: 0 10px 0 10px;
    padding: 5px;
    text-align: right;
    width: 100px;
}

input {
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    width: 155px;
}

.search {
    margin-left: 10px;
    background: rgb(233, 129, 207);
    opacity: 0.8;
    color: aliceblue;
}

.tableRow {
    background-color: yellowgreen;
    border: 1px solid rgb(179, 181, 189); 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 900px;
    height: 80px;
}

.tableRowRed {
    background-color:  red;
    border: 1px solid rgb(179, 181, 189); 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 900px;
    height: 80px;
}

div.item {
    height: 80px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    color: black;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.rid {
    float: left;
    width: 7%;
}

.rname {
    float: left;
    width: 60%;
    text-align: center;
}

.rstars {
    float: left;
    width: 14%;
}

.rbuilds {
    float: left;
    overflow: hidden;
}

.jnumber {
    float: left;
    width: 7%;
}

.jstate {
    float: left;
    width: 7%;
}

.jbranch {
    float: left;
    width: 40%;
}

.jlog {
    float: left;
    width: 7%;
}

.jmatch {
    float: left;
    width: 7%;
}

.jmessage {
    float: left;
    width: 28%;
    text-align: left;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;
}